* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
    /* overflow-y: scroll; */
}
.navbar {
    padding: .25rem 0.5rem;
}
.navwrapper {
    width: 1170px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.navbar-nav{
    height: 100vh;
}

.navbar-nav a{
    margin-bottom: 2rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.navbar-nav .nav-item .nav-link{
    color: #333131;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #E53247;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.fswrapper {
    margin-right: 1rem;
    margin-left: 1rem;
}
h1, h2, .button, h4, .navbar-nav>li {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.75rem;
    font-weight: 700;
    color: #333131;
}
h2, .navbar-nav>li{
    font-size: 1.5rem;
    overflow: hidden;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    color: #E53247;
}
h4{
    font-size: 1rem;
    overflow: hidden;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
h2 span:after {
    content:"";
    display: inline-block;
    height: 0.25em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 3px solid #E53247;
}
.button {
    color: #fff;
    background-color: #333131;
    padding: 1rem;
    font-size: 0.75rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin-top: 2rem;
}
.button:hover {
    color: #fff;
    background-color: #e53247;
    padding: 1rem;
    font-size: 0.75rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cta {
    background-color: #F1F1F1;
    padding: 6rem 0 6rem 0;
}
.cta p{
    margin-bottom: 2rem;
}
section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.portfolio{
    margin-bottom: -50px;
}

section:last-of-type {
    margin-bottom: 0px;
}
header h1 {
    margin-top: 4rem;
}
header h3 a {
    border-bottom: 1px solid;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 100%;
}
.grid-item {
  float: left;
}
.grid-item img {
  display: block;
  max-width: 100%;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.filtro {
    margin-right: 1rem;
    margin-left: 1rem;
}
.filtro li{
    margin-right: 1rem;
    margin-top: .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    color: #333131;
}
.filtro li:last-of-type{
    margin-right: 0;
}
.is-checked{
  color: #E53247;
  font-weight: 700;
  border-bottom: 2px solid;
}
.is-checked:hover{
  color: #E53247;
  font-weight: 700;
  border-bottom: 2px solid;
}
footer {
    background-color: #333131;
    color: #cbcbcb;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

footer h2, footer h4 {
    color: #cbcbcb;
}

footer hr {
    background-color: #3f3d3d;
    height: 1px;
}
hr{
    margin: .25rem 0 0.75rem 0;
}

footer p, footer a {
    font-size: 0.85rem;
    margin-bottom: 0.1rem;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.submenu ul {
    flex-direction: column;
}
.submenu {
    width: 50%;
    margin-bottom: 2rem;
}
.footer-last {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (min-width: 576px) and (max-width: 1999px) {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
    .button {
        font-size: .75rem;
    }
    .button:hover {
        font-size: 0.75rem;
    }
    .submenu {
        width: 25%;
        margin-bottom: 0;
    }
    header h1 {
        margin-top: 6rem;
    }
}

@media only screen and (min-width: 1200px) {
    .fswrapper {
        width: 1170px;
        margin: auto;
    }
    .grid-sizer,
    .grid-item {
      width: 33.333%;
    }
    .navbar {
        padding: .25rem 0 .25rem 0;
    }
    h1, h2, .button, h4, .navbar-nav>li {
        font-size: 3.75rem;
    }
    h2, .navbar-nav>li{
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4{
        font-size: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
    .button {
        font-size: 1rem;
    }
    .button:hover {
        font-size: 1rem;
    }
    .submenu {
        width: 25%;
        margin-bottom: 0;
    }
    header h1 {
        margin-top: 8rem;
    }
    .portfolio{
        margin-bottom: 50px;
    }
}
