* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
    /* overflow-y: scroll; */
}
.navbar {
    padding: .25rem 0.5rem;
}
.navwrapper {
    width: 1170px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.navbar-nav{
    height: 100vh;
}

.navbar-nav a{
    margin-bottom: 2rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.navbar-nav .nav-item .nav-link{
    color: #333131;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #E53247;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.navbar-brand img{
    width: 50px;
}
.navbar-brand{
    padding: 0;
    margin: 0;
}
.fswrapper {
    margin-right: 1rem;
    margin-left: 1rem;
}
h1, h2, .button, h4, .navbar-nav>li {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.75rem;
    font-weight: 700;
    color: #333131;
}
h2, .navbar-nav>li{
    font-size: 1.5rem;
    overflow: hidden;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    color: #E53247;
}
h4{
    font-size: 1rem;
    overflow: hidden;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;
}
p strong {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
p em {
    font-style: italic;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

h2 span:after {
    content:"";
    display: inline-block;
    height: 0.25em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 3px solid #E53247;
}
.button {
    color: #fff;
    background-color: #333131;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 0.75rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

}
.button:hover {
    color: #fff;
    background-color: #e53247;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cta {
    background-color: #F1F1F1;
    padding: 6rem 0 6rem 0;
}
.cta p{
    margin-bottom: 2rem;
}
section {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.portfolio{
    margin-bottom: -50px;
}

section:last-of-type {
    margin-bottom: 0px;
}
header h1, .about-wrapper {
    margin-top: 6rem;
}
header h3 a {
    border-bottom: 1px solid;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 100%;
}
.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}





.pofo-link {
    /* display: inline-block; */
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  /* cursor: default; */
  background: #E53247;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.overlay {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:baseline;
    justify-content: flex-end;
    padding: 0 0 1rem 1rem;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);

  opacity: 0.15;
  filter: alpha(opacity=15);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.hovereffect h2 {
  position: relative;
  font-size: 1rem;
}

.hovereffect p.text-white, .hovereffect h2 {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
}

.hovereffect:hover p.text-white, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}







ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.filtro {
    margin-right: 1rem;
    margin-left: 1rem;
}
.filtro li{
    margin-right: 1rem;
    margin-top: .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
    font-weight: 700;
    color: #808080;
    border-bottom: 2px solid white;
    transition: 0.3s;
}
.filtro li:last-of-type{
    margin-right: 0;
}
.is-checked, .filtro li:hover{
  color: #E53247;
  font-weight: 700;
  border-bottom: 2px solid;
  transition: 0.3s;
}
.is-checked:hover{
  color: #E53247;
  font-weight: 700;
  border-bottom: 2px solid;
}
footer {
    background-color: #333131;
    color: #cbcbcb;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

footer h2, footer h4 {
    color: #cbcbcb;
}

footer hr {
    background-color: #3f3d3d;
    height: 1px;
}
hr{
    margin: .25rem 0 0.75rem 0;
}

footer p, footer a {
    font-size: 0.85rem;
    margin-bottom: 0.1rem;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.submenu ul {
    flex-direction: column;
}
.submenu {
    width: 50%;
    margin-bottom: 2rem;
}
.footer-last {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contact-subgroup {
    font-size: 1em;
    margin-bottom: 2rem;
}

.contact-subgroup p, .servicio p {
    margin-top: 1rem;
    padding: 0;
    margin-bottom: 0;
}

.contact-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 0;
}

.contact-wrapper, .about-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.about-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
}

.about-header h1 {
    margin-top: 0rem;
    margin-bottom: -3rem;
    font-size: 6rem;
    color: #E53247;
}

.contact-img img,
.about-img img {
    width: 100%;
}
.contact-img,
.about-img {
    margin: auto;
    margin-top: 0
}

.form-wrapper {
    width: 90%;
    margin-top: 2rem;
}

.form-row {
    margin-bottom: 1rem;
    border-style: none;
}

.form-row input[type="text"],
.form-row input[type="email"]{
    background-color: #FFFFFF;
    border: 1px solid #cfecf5;
    border-radius: 0;
    width: 100%;
    padding: 7px;
    font-size: 0.8rem;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid{
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

.form-row select{
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    -webkit-appearence: none;
}

.form-row textarea {
    font-size: 1rem;
    border: 1px solid #cfecf5;
    min-height: 200px;
    width: 100%;
    padding: 7px;
    resize: none;
}

.form-row button {
    background-color: #e53247;
    border: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.form-row button:hover{
    background-color: #9e2638;
}

.form-row button:active{
    background-color: #9e2638;
}
.dark {
    background-color: #333131;
}

.light-text {
    color: #fff;
}

.servicios-wrapper, .skill-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
}

.servicio, .skill {
    margin-bottom: 2rem;
}

.servicios {
    background-color: #f1f1f1;
}

.proceso-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.paso {
    min-width: 250px;
    max-width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
}
.inline p, .inline h4 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.inline {
    margin-bottom: -1rem;
}

.paso p:first-child {
    font-weight: 400;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: #989898;
}

.paso > span:after, .exp-info > span:after {
    content:"";
    display: inline-block;
    height: 0.25em;
    vertical-align: top;
    width: 10%;
    border-top: 3px solid #E53247;
}

/* Style the tab */
.tab {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    overflow: hidden;
}

.tablinks {
    padding: 1rem 0.75rem;
}

.tab button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
    background-color: #333131;
    border: 2px solid #333131;
    box-sizing:border-box;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
 background-color: #595757;
}

.tab button.active {
    color: #333131;
    background-color: #fff;
    border: 2px solid #333131;
    box-sizing:border-box;
}

.tabcontent {
    animation: fadeEffect .5s;
    position: relative;
}

.tab-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
}
.tablinks {
    padding: 0.75rem 1rem;
}

.exp-info h1 {
    margin: 0;
    padding: 0;
    position:absolute;
    left: -0.25rem;
    top: 0;
    font-size: 6rem;
    color: #E53247;
}

.vl {
  border-left: 1px solid #c1c1c1;
  height: 87%;
  top: 2rem;
  position: absolute;
  left: 1rem;
  z-index: -1;
}

.exp-info, .exp-fecha {
    padding-left: 3rem;
}

.experiencia {
    position: relative;
    margin-bottom: 2rem;
}

.experiencia p, .experiencia h4 {
    margin-bottom: 0.2rem;
}

.exp-info p:last-of-type{
    margin-top: -1rem;
}

.subtitle > p {
   width: 13rem;
   text-align: center;
   border-bottom: 1px solid #989898;
   line-height: 0.5em;
   margin: 1rem auto 0 auto ;
   color: #989898;
}

.subtitle > p span {
    background:#fff;
    padding:0 10px;
}

.skill h4 {
    margin-top: 1rem;
    margin-bottom: 0;
}
.skill p {
    margin-top: 0;
}

.skill {
    background-color: #f1f1f1;
    width: 210px;
    margin: 0.5rem;
    padding: 2rem;
}

.textskill {
    padding: 1rem 1rem 0.5rem 1rem;
    background-color: #f1f1f1;
    width: 210px;
    margin: 0.5rem;
}

.grayfilter{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  transition: 0.3s;
}

.grayfilter:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: 0.3s;
}

.skill-wrapper img, .servicios-wrapper img {
    max-width: 65px;
}
.download h2 {
    margin-bottom: 1rem;
}

.proceso, .about, .cv, .welcome, .portfolio {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.servicios {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


@media only screen and (min-width: 576px) and (max-width: 1199px) {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
    .button {
        font-size: .75rem;
    }
    .button:hover {
        font-size: 0.75rem;
    }
    .submenu {
        width: 25%;
        margin-bottom: 0;
    }
    header h1 {
        margin-top: 8rem;
    }
    .contact-group{
        flex-direction: row;
        justify-content: center;
    }
    .contact-subgroup{
        margin-right: 2rem;
    }
    .contact-subgroup:last-of-type{
        margin-right: 0;
    }

    .contact-img,
    .about-img{
        width: 50%;
    }
    .contact-form{
        width: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .about-header{
        width: 50%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2rem;
    }
    .contact-img img,
    .about-img img {
        width: 100%;
    }
    .form-wrapper {
        width: 90%;
    }
    .about-header h1 {
        margin-bottom: -3rem;
        font-size: 6rem;
    }
    .servicios-wrapper, .skill-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }
    .servicio {
        width: 30%;
        padding: 0 1rem 0 1rem;
    }
    .paso {
        max-width: 50%;
        padding: 0 2rem 0 0;
    }
    .tab {
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
    }
    .vl {
        height: 80%;
    }
    .subtitle > p {
       width: 20rem;
    }
    .skill-wrapper {
        justify-content: center;
    }
    .download {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    .download .button{
        width: auto;
        margin: auto;
    }
    .proceso, .about, .cv, .welcome, .portfolio {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .servicios {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .fswrapper {
        width: 1170px;
        margin: auto;
    }
    .grid-sizer,
    .grid-item {
      width: 33.333%;
    }
    .navbar {
        padding: .25rem 0 .25rem 0;
    }
    h1, h2, .button, h4, .navbar-nav>li {
        font-size: 3.75rem;
    }
    h2, .navbar-nav>li{
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4{
        font-size: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
    .button {
        font-size: 1rem;
    }
    .button:hover {
        font-size: 1rem;
    }
    .submenu {
        width: 25%;
        margin-bottom: 0;
    }
    header h1 {
        margin-top: 8rem;
    }
    .portfolio{
        margin-bottom: 50px;
    }
    .contact-group{
    flex-direction: row;
    justify-content: center;
    }
    .contact-subgroup{
        margin-right: 2rem;
    }
    .contact-subgroup:last-of-type{
        margin-right: 0;
    }
    .contact-img,
    .about-img{
        width: 50%;
    }
    .contact-form{
        width: 50%;
        flex-direction: row;
        justify-content: flex-start;
    }
    .about-header{
        width: 50%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 2rem;
    }
    .contact-img img,
    .about-img img {
        width: 100%;
    }
    .form-wrapper {
        width: 90%;
        max-width: 750px;
        margin-left: 2rem;
    }
    .about-header h1 {
        margin-bottom: -4rem;
        font-size: 8rem;
    }
    .servicios-wrapper, .skill-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }
    .servicio{
        width: 30%;
        padding: 0 1rem 0 1rem;
    }
    .paso {
        max-width: 25%;
        padding: 0 2rem 0 0;
    }
    .tab {
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
    }

    .vl {
        left: 50%;
        height: 78%;
        top: 1.75rem;
    }

    .exp-info, .exp-fecha {
        padding-left: 0;
    }

    .experiencia {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .exp-fecha, .exp-info {
        width: 50%;
        padding: 0 2rem;
        position: relative;
    }

    .exp-fecha {
        text-align: right;
    }

    .exp-info h1 {
        left: -1.25rem;
        top: -1.75rem;
    }
    .subtitle > p {
       width: 25rem;
    }
    .skill-wrapper {
        justify-content: center;
    }
    .skill:first-of-type, .text-skill:first-of-type{
        margin-left: 0;
    }
    .skill:last-of-type, .text-skill:last-of-type{
        margin-right: 0;
    }
    .download {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    .download .button{
        width: auto;
        margin: auto;
    }
    .proceso, .about, .cv, .welcome, .portfolio {
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    .servicios {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
